<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Srimad Bhagvad Gita</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles/layout.css">
    
</head>
<body>
    <div id="main">
        <nav>
            <h3><svg xmlns="http://www.w3.org/2000/svg" height="36" width="34" viewBox="0 0 512 512"><path fill="#ef3506" d="M379.3 4.7c-6.2-6.2-16.4-6.2-22.6 0l-16 16c-6.2 6.2-6.2 16.4 0 22.6l16 16c6.2 6.2 16.4 6.2 22.6 0l16-16c6.2-6.2 6.2-16.4 0-22.6l-16-16zM281 66.7c-2.2-1.5-4.9-2.5-7.7-2.7c-.6 0-1.3-.1-1.9 0c-3.9 .2-7.4 1.7-10.1 4.2c-.9 .8-1.6 1.7-2.3 2.6c-1.7 2.4-2.7 5.3-2.9 8.5c0 .7 0 1.4 0 2.1c.2 2.2 .9 4.3 1.9 6.2l.3 .6c.3 .6 .8 1.4 1.4 2.4c1.2 2 2.9 4.8 5.1 8.2c4.4 6.7 11.1 15.5 20 24.4C302.4 141.1 330.3 160 368 160c31.2 0 56.6-10.4 73.9-20.2c8.7-5 15.6-9.9 20.4-13.8c2.4-1.9 4.3-3.6 5.7-4.9c.7-.6 1.3-1.2 1.7-1.6l.6-.5 .1-.1 .1-.1 0 0 0 0c5.9-5.8 9.5-13.9 9.5-22.8c0-17.7-14.3-32-32-32c-8.7 0-16.7 3.5-22.4 9.2c-.1 .1-.2 .2-.5 .4c-.5 .5-1.5 1.3-2.8 2.4c-2.7 2.2-6.8 5.2-12.1 8.2C399.4 90.4 384.8 96 368 96c-20.8 0-42.4-7-59.5-14.6c-8.4-3.7-15.4-7.5-20.3-10.3c-2.4-1.4-4.3-2.5-5.6-3.3c-.6-.4-1.1-.7-1.4-.9l-.3-.2zM115.2 169.6c8-6 17.9-9.6 28.8-9.6c26.5 0 48 21.5 48 48s-21.5 48-48 48H109.8c-7.6 0-13.8 6.2-13.8 13.8c0 1.5 .2 2.9 .7 4.4l8 24c4.4 13.1 16.6 21.9 30.4 21.9H144h16c35.3 0 64 28.7 64 64s-28.7 64-64 64c-50.8 0-82.7-21.5-102.2-42.8c-9.9-10.8-16.6-21.6-20.9-29.7c-2.1-4-3.6-7.3-4.5-9.6c-.5-1.1-.8-2-1-2.5l-.2-.5c-.3-.9-.7-1.8-1.1-2.6c-1.2-2.2-2.8-4-4.7-5.4c-1.9-1.4-4.1-2.3-6.5-2.8c-1.4-.3-2.9-.3-4.4-.2c-2.5 .2-4.8 1-6.8 2.3c-1.1 .7-2.2 1.5-3.1 2.5c-2.4 2.5-4.1 5.8-4.5 9.5c-.1 .6-.1 1.1-.1 1.7c0 0 0 0 0 0c0 .8 .1 1.7 .2 2.5l0 .1c0 .3 .1 .8 .2 1.3c.2 1.1 .4 2.7 .8 4.6c.8 3.9 2 9.4 3.9 15.9c3.8 13 10.3 30.4 21.3 48C48.7 476.2 89.4 512 160 512c70.7 0 128-57.3 128-128c0-23.3-6.2-45.2-17.1-64h22.6c25.5 0 49.9-10.1 67.9-28.1l26.5-26.5c6-6 14.1-9.4 22.6-9.4H416c17.7 0 32 14.3 32 32v96c0 17.7-14.3 32-32 32c-25.7 0-41.4-12.5-51.2-25.6c-5-6.7-8.4-13.4-10.5-18.6c-1.1-2.5-1.8-4.6-2.2-6c-.2-.7-.4-1.2-.5-1.5l-.1-.2c-.3-1.3-.8-2.6-1.5-3.8c-1.1-2-2.6-3.8-4.4-5.1c-2.7-2-6-3.2-9.6-3.2l-.2 0c-8 .1-14.6 6.1-15.6 13.9l0 0c0 .3-.1 .6-.2 1.1c-.1 .9-.3 2.1-.4 3.6c-.3 3-.6 7.3-.6 12.4c0 10.1 1.1 23.9 5.8 38.1c4.8 14.3 13.4 29.3 28.6 40.7C368.7 473.3 389.3 480 416 480c53 0 96-43 96-96V288c0-53-43-96-96-96h-5.5c-25.5 0-49.9 10.1-67.9 28.1l-26.5 26.5c-6 6-14.1 9.4-22.6 9.4H245.2c6.9-14.5 10.8-30.8 10.8-48c0-61.9-50.1-112-112-112c-25.2 0-48.5 8.3-67.2 22.4c-14.1 10.6-17 30.7-6.4 44.8s30.7 17 44.8 6.4z"/></svg>Bhagavad Gita</h3>
            <div id="nav-part2">
                <h4><a href="/home">Home</a></h4>
                <h4><a href="/about">About Gita</a></h4>
                <h4><a href="/history">History</a></h4>
            </div>
            <h3 class="mt"><i class="ri-menu-3-line"></i>Menu</h3>
        </nav>  
        <div id="ban">
            <div id="bann">
                <img class="tm" fetchpriority="high" srcset="https://bhagavadgita.io/_next/image?url=%2Fbanner2.png&w=1920&q=75">
                <div id="flex">
                    <h1 class="text-shadow text-white">
                        Experience The Gita
                        <br>
                        <span class="text">Anywhere, Anytime</span>
                    </h1>
                </div>
            </div>    
        </div> 
        <!--<div class="response-area">
            <p>
                content 
            </p>
        </div>
        <form id="myForm" method="post">
            <label for="idInput">Id:</label>
            <input type="text" id="idInput" name="id">
            <label for="submit">Route:</label>
            <input id="chap" type="submit" value="GET" formaction="/chap">
        </form> -->
        <div id="content">
            <h1 class="ch">Chapters</h1>
            <div id="con">
                <div id="one">
                    <h4>Chapter 1</h4>
                    <h3>Arjuna Vishada Yoga</h3>
                    <p> Arjuna, overwhelmed by the moral and emotional dilemma of fighting his own relatives in the battle of Kurukshetra, refuses to fight.
                        He turns to Krishna for guidance, leading to the dialogue between them.
                    </p>
                </div>
                <div id="two">
                    <h4>Chapter 2</h4>
                    <h3>Sankhya Yoga</h3>
                    <p>Krishna imparts transcendental knowledge to Arjuna, explaining the eternal nature of the soul, the impermanence of the body, and the concept of duty (dharma). 
                        He emphasizes performing one's duty without attachment to the results.
                    </p>
                </div>
                <div id="three">
                    <h4>Chapter 3</h4>
                    <h3>Karma Yoga</h3>
                    <p>Krishna elaborates on the path of Karma Yoga, teaching Arjuna to perform his duties selflessly, without attachment to the fruits of action. 
                        He emphasizes the importance of action over inaction.
                    </p>
                </div>
                <div id="four">
                    <h4>Chapter 4</h4>
                    <h3>Jnana Karma Sanyasa Yoga</h3>
                    <p>Krishna discusses the paths of knowledge and action, explaining that one can achieve liberation through either path.
                        He emphasizes performing one's duties with the right knowledge and without attachment.
                    </p>
                </div>
                <div id="five">
                    <h4>Chapter 5</h4>
                    <h3>Karma Sanyasa Yoga</h3>
                    <p>Krishna teaches Arjuna about the renunciation of the fruits of action and the path of selfless service. 
                        He explains that true renunciation is not abandoning action but renouncing attachment to the results.
                    </p>
                </div>
                <div id="six">
                    <h4>Chapter 6</h4>
                    <h3>Dhyana Yoga</h3>
                    <p>Krishna explains the practice of Dhyana Yoga (meditation) to Arjuna, emphasizing the importance of controlling the mind and senses to attain self-realization. 
                        He describes meditation as the means to achieve union with the divine.
                    </p>
                </div>
                <div id="seven">
                    <h4>Chapter 7</h4>
                    <h3>Jnana Vijnana Yoga</h3>
                    <p>Krishna reveals his divine nature to Arjuna and explains the difference between the material world and the eternal soul. 
                        He encourages Arjuna to seek self-realization and enlightenment.
                    </p>
                </div>
                <div id="eight">
                    <h4>Chapter 8</h4>
                    <h3>Akshara Brahma Yoga</h3>
                    <p>Krishna explains the process of leaving the body at the time of death and attaining liberation by fixing the mind on him. 
                        He reveals himself as the imperishable Brahman, the ultimate reality
                    </p>
                </div>
                <div id="nine">
                    <h4>Chapter 9</h4>
                    <h3>Raja Vidya Yoga</h3>
                    <p>Krishna reveals his divine glories and the significance of devotion and surrender to him as the ultimate path to liberation. 
                        He emphasizes the importance of knowing him as the supreme personality
                    </p>
                </div>
                <div id="ten">
                    <h4>Chapter 10</h4>
                    <h3>Vibhuti Yoga</h3>
                    <p>Krishna manifests his divine splendor to Arjuna, displaying his omnipresence in the universe. 
                        He describes various divine manifestations, highlighting his presence in all beings and phenomena.
                    </p>
                </div>
                <div id="eleven">
                    <h4>Chapter 11</h4>
                    <h3>Vishwaroopa Darshana Yoga</h3>
                    <p>Krishna reveals his universal form (Visvarupa) to Arjuna, displaying his cosmic form encompassing all creation. 
                        Arjuna witnesses the awe-inspiring sight of gods, celestial beings, and countless forms within Krishna, realizing the omnipresence and omnipotence of the Supreme.
                    </p>
                </div>
                <div id="twelve">
                    <h4>Chapter 12</h4>
                    <h3>Bhakti Yoga</h3>
                    <p>Krishna extols the path of Bhakti Yoga, emphasizing the importance of unwavering devotion, love. 
                        He describes various aspects of devotion, including worship, service, and single-minded devotion, as means to attain union with the divine.
                    </p>
                </div>
                <div id="thirteen">
                    <h4>Chapter 13</h4>
                    <h3>Kshetra Kshetragna Vibhaga Yoga</h3>
                    <p>Krishna explains the distinction between the physical body (kshetra) and the eternal soul (kshetragna), elucidating the nature of the material world and the individual soul. 
                        He describes the qualities of the kshetra (body) and the kshetragna (soul).
                    </p>
                </div>
                <div id="fourteen">
                    <h4>Chapter 14</h4>
                    <h3>Gunatraya Vibhaga Yoga</h3>
                    <p>Krishna discusses the three modes of material nature (gunas) - sattva (goodness), rajas (passion), and tamas (ignorance) - and their influence on beings. 
                        He explains how these gunas affect human behavior, desires, and consciousness.
                    </p>
                </div>
                <div id="fifteen">
                    <h4>Chapter 15</h4>
                    <h3>Purushottama Yoga</h3>
                    <p>Krishna reveals himself as the Supreme Being, Purushottama, beyond the perishable material world and the eternal soul within all beings. 
                        He explains the relationship between the individual souls (jivatmas) and the Supreme Soul (Paramatma).
                    </p>
                </div>
                <div id="sixteen">
                    <h4>Chapter 16</h4>
                    <h3>Daivasura Sampad Vibhaga Yoga</h3>
                    <p>Krishna describes the characteristics of the divine and the demonic, urging Arjuna to cultivate divine qualities such as humility, compassion, and 
                        selflessness while avoiding demonic traits such as pride, greed, and cruelty.
                    </p>
                </div>
                <div id="seventeen">
                    <h4>Chapter 17</h4>
                    <h3>Shraddhatraya Vibhaga Yoga</h3>
                    <p>Krishna explains the threefold division of faith based on the modes of material nature - sattvic (goodness), rajasic (passion), and tamasic (ignorance). 
                        He describes the characteristics of each type of faith and its influence on human behavior.
                    </p>
                </div>
                <div id="eighteen">
                    <h4>Chapter 18</h4>
                    <h3>Moksha Sanyasa Yoga</h3>
                    <p>Krishna concludes his teachings by summarizing the paths of knowledge, action, and devotion. 
                        He encourages Arjuna to act with determination and surrender to him, offering all actions as an offering to the Supreme
                    </p>
                </div>

                

            </div>    
        </div>
        <div id="footer">
            <div id="foot">
                <h4><a href="/home">Home</a></h4>
                <h4><a href="/about">About Gita</a></h4>
                <h4><a href="/history">History</a></h4>
            </div>
            <p>Designed with ❤ by Vedant</p>
        </div>    
    </div>
    <div id="full-scr">
        <div id="full-div1">
            <h4><a href="/home">Home</a></h4>
            <h4><a href="/about">About Gita</a></h4>
            <h4><a href="/history">History</a></h4>
            
        </div>
    </div>      
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="styles/script.js"></script>
</body>
</html> 